# Bikin Objective Function

In [3]:
import pandas as pd

In [6]:
pd.read_csv('mfd-data-dqn-boltzman-min-exponen-K=25.csv', sep=";")

         time   lane_ids  laneDensity  inflow  outflow
0       21600        1_0         4.89     216      216
1       21600        1_1         8.74     288      288
2       21600       10_0        10.94     228      228
3       21600       10_1        10.89     276      252
4       21600      100_0         0.83      36       36
...       ...        ...          ...     ...      ...
119743  82500  gneE397_1         0.00       0        0
119744  82500  gneE401_0         0.00       0        0
119745  82500  gneE401_1        93.37       0        0
119746  82500  gneE401_2       106.95       0        0
119747  82500  gneE401_3         0.00       0        0

[119748 rows x 5 columns]

# Data MFD
   
- Load data csv (Hasil dari testing)
- Hitung MFD per episode
- Tentuin area L1 L2 L3 L4 
- Tentuin nilai Min/Max sesuai kebutuhan dari masing-masing area

In [1]:
L1_min = 10
L2_max = 13
L3_min = 12
L4_max = 14

- Buat rumus bisa dibikin kuadratik, trus tiap variabel ditambahin beban random P,Q,R yang rangenya 0 sampai 1
- buat beban jadiin 1 dulu biar gampang

In [2]:
P = 1 
Q = 1 
R = 1
S = 1
            
J = (P * (L2_max**2)) + (Q * L4_max**2) - (R * L1_min) - (S * L3_min)